*{
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color:white;
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li:hover {
  background-color: #555;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.table td, .table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th{
  background-color: darkblue;
  color: #ffffff;
}

.table tbody tr:nth-child(even){
  background-color : #f5f5f5;
}

/* responsive */

@media(max-width: 500px){
  .table thead{
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }

  .table tr{
    margin-bottom: 15px;
  }

  .table td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size:  15px;
    font-weight: bold;
    text-align: left;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
